@import url(reset.css); 
@import url(media.css);
@import url(./components/About.css);
@import url(./components/Footer.css);
@import url(./components/Header.css);
@import url(./components/HP.css);
@import url(./components/PAW.css);
@import url(./components/PlayOn.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@font-face {
    font-family: Archangel;
    src: url(../fonts/ofont.ru_Archangelsk.ttf);
    font-weight: 400;
}
:root {
    /* --padding-inline: 16.6%; */
    --padding-inline: 16.6vw;
    --padding-block: 70px;

    --yellow-col: #F8F200;
    --light-col: #FFF;
    --dark-col: #000;
    --gray-col: #777;
    --blue-col: #52BEDC;
}
body {
    font-family: Roboto, Archangel, sans-serif;
    background-color: var(--dark-col);
    text-align: center;
}
.container {
    text-align: center;
    max-width: 1920px; 
    margin: 0 auto;
}
.header,
.main,
.footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text-with-icons {
    display: grid;
    row-gap: 17px;
    li {
        align-items: center;
    }
}
.twi-el {
    display: flex;
    column-gap: 10px;
}
.button {
    font-family: Roboto, sans-serif;
    background-color: var(--dark-col);
    color: var(--yellow-col);
    font-weight: 700;
    font-size: 18px;
    padding: 19px 50px;    
    transition: background-color 0.4s, top 0.4s ease;
}
.button.rev-col-button {
    background-color: var(--yellow-col) !important;
    color: var(--dark-col) !important;
}

.button:hover {
    background-color: color-mix(in srgb, var(--dark-col) 90%, var(--light-col));
}
.button.rev-col-button:hover {
    background-color: color-mix(in srgb, var(--yellow-col) 80%, var(--dark-col)) !important;
}
.button:active {
    position: relative;
    background-color: color-mix(in srgb, var(--dark-col) 80%, var(--light-col));
    top: 2px;
}
.button.rev-col-button:active {
    background-color: color-mix(in srgb, var(--yellow-col) 70%, var(--dark-col)) !important;
}
span {
    color: var(--blue-col);
    font-weight: 700;
}
h1 {
    font-family: Archangel, serif;
    font-size: 62px;
    color: var(--dark-col);
}
h3 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300; 
    line-height: 21px;
}
h4 {
    font-family: Roboto, sans-serif;
    color: var(--blue-col);
    font-weight: 700;
    font-size: 24px;
}
h6 {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: var(--light-col);
}
p {
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
}