@media screen and (min-width:1920px) {
    :root {
        --padding-inline: 16.6% !important;
    }
}
@media (max-width: 1919px) {
    .about-small-img {
        flex-direction: row !important;
    }
}
@media (max-width: 1025px) {
    :root {
        --padding-inline: 3.52vw !important;
    }
}